<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">Add new product</h1>
</div>
<div class="wrapper-md">
	<div ng-controller="productAddCtrl">
		<div class="row">
			<div class="col-sm-12">
				<form name="form" class="form-validation" ng-submit="createProduct()">
		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <span class="h4">Form add product</span>
		            </div>
		            <div class="panel-body">
		              <!-- <p class="text-muted">Please complete all input to add new product</p> -->
		              <div class="form-group pull-in clearfix">
		              	<div class="col-sm-6">
			              	<div class="form-group">
				                <label>Product Code<em class="text-muted">(Press refresh to change code)</em></label>
				                <div class="input-group">
				                	<input type="text" class="form-control" ng-model="product.kode_barang" required disabled>
					                <span class="input-group-btn">
						            	<button class="btn btn-default" type="button" ng-click="refresh()">Refresh</button>
						            </span>
				                </div>
				              </div>
			              </div>
			              <div class="col-sm-6">
			              	<div class="form-group">
			              	  <label class="control-label">Division</label>
			              	  <div class="">
					            <label class="checkbox-inline i-checks">
					              <input type="radio" value="1" ng-model="product.divisi" name='switch' id="{{id_1}}"><i></i> Development
					            </label>
					            <label class="checkbox-inline i-checks">
					              <input type="radio" value="2" ng-model="product.divisi" name='switch' id="{{id_2}}"><i></i> Communication
					            </label>
					            <label class="checkbox-inline i-checks">
					              <input type="radio" value="3" ng-model="product.divisi" name='switch' id="{{id_3}}"><i></i> Support
					            </label>
					            <label class="checkbox-inline i-checks">
					              <input type="radio" value="4" ng-model="product.divisi" name='switch' id="{{id_4}}"><i></i> Infrastructure
					            </label>
					          </div>
					        </div>
			              	<!-- <div class="form-group">
				                <label>Division</label>
				                <input type="text" class="form-control" ng-model="user.name" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required >
				            </div> -->
			              </div>
		              </div>
		              <div class="form-group pull-in clearfix">
		              	<div class="col-sm-6">
		              		<label>Product Name</label>
			                <input type="text" name="name" class="form-control" ng-model="product.nama" ng-pattern="name" required >
			                <span ng-show="form.name.$error.pattern" style="color:red">Please do not enter data more than 50 word.</span>	
		              	</div>
		              	<div class="col-sm-6">
		              		<label>Category</label>
		              		<select name="status" class="form-control m-b" ng-model="product.kategori"required>
		              		  <option value="">Choose category product</option>
				              <option value="Supplies">Supplies</option>
				              <option value="Inventory">Inventory</option>
				            </select>
		              	</div>
		              </div>
		                
		              
		              <div class="form-group pull-in clearfix"> 
		                <div class="col-sm-6">
		                	<label>Stock</label>
		                	<input type="text" name="stok" class="form-control" ng-model="product.stok" ng-pattern="value" required>
		                	<span ng-show="form.stok.$error.pattern" style="color:red">Please enter number only.</span>
		                </div>
		                <div class="col-sm-6" ng-controller="DatepickerDemoCtrl">
		                	<label>Date In</label>
		                	<div class="input-group">
				              <input type="text" class="form-control" ng-model="product.tgl_masuk" datepicker-popup="{{format}}" min-date="dt" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </div>
		                </div>
		              </div>
		              <!-- <div class="form-group">
		                <label>Date in</label>
		                <input type="email" class="form-control" ng-model="user.email" required >
		              </div> -->
		              <div class="form-group pull-in clearfix">
		                <div class="col-sm-6">
		                  <label>Price</label>
		                  <!-- <div class="input-group"> -->
		                  	<!-- <span class="input-group-addon">Rp</span> -->
		                  	<div class="input-group">
		                  		<span class="input-group-addon">Rp</span>
						        <input type="text" name="price" class="form-control" ng-model="product.harga_barang" ng-pattern="value" required>
						        <span class="input-group-btn">
								    <button class="btn btn-default" type="button" ng-click="generate()" ng-disabled="product.kategori == 'Supplies'">Get Rent Price</button>
								</span>
		                  	</div>
			              	<!-- <span class="input-group-addon">.00</span> -->
		                  <!-- </div> -->
		                  <span ng-show="form.price.$error.pattern" style="color:red">Please enter number only.</span>
		                </div>
		                <div class="col-sm-6">
		                  <label>Rent Price</label>
		                  <div class="input-group">
		                  	<span class="input-group-addon">Rp</span>
				              <input type="number" class="form-control" required disabled ng-model="product.harga_sewa">
				            <span class="input-group-addon">.00</span>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <footer class="panel-footer text-right bg-light lter">
		              <input type="submit" value="Submit" class="btn btn-success" ng-disabled="form.$invalid">
		            </footer>
		          </div>
		        </form>
			</div>
		</div>
	</div>
</div>