<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Latihan</h1>
</div>
<div class="wrapper-md" ng-controller="latihanCtrl">
	<!-- <div class="col-md-6">
		<div class="form-group">
			<label class="control-label">Input text:</label>
			<input type="text" class="form-control" ng-model="inputan">
		</div>	
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">Hasil</label>
			<h5 class="text-center">{{reverse()}}</h5>
		</div>
		<div class="col-md-6">
			<label class="control-label">Polindrom cek</label>
			<div ng-if="polindrom(inputan)">
				<h5 class="text-center">Kata <b>{{inputan}}</b> merupakan polindrom</h5>	
			</div>
			<div ng-if="!polindrom(inputan)">
				<h5 class="text-center">Kata <b>{{inputan}}</b> bukan polindrom</h5>	
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<label class="col-sm-3 control-label">Nama Mahasiswa:</label>
			<div class="col-sm-9">
				<label class="control-label">Raden Muhammad Maulana</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">NIM:</label>
			<div class="col-sm-9">
				<label class="control-label">J3C114065</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Judul Laporan Akhir:</label>
			<div class="col-sm-9">
				<label class="control-label">Pembuatan Aplikasi Management Asset Berbasis Web di PT Pusat Media Indonesia</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Hari / Tanggal Ujian:</label>
			<div class="col-sm-9">
				<label class="control-label">Rabu, 26 Juli 2017</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Nama Dosen Penguji:</label>
			<div class="col-sm-9">
				<label class="control-label">Maria Susan A, SKom MKom</label> <br> <br>
			</div>
		</div>
	</div>
	<br>
	</p> -->
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>No</th>
							<th>Aspek</th>
							<th>Bobot</th>
							<th>
								<td>
									Dosen Penguji
									<td>
										<th>Nilai</th>
										<th>Bobot x Nilai</th>
									</td>
								</td>
								
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Penyajian Laporan</td>
							<td>20 %</td>
							<th>
								<td>  </td>
								<td>  </td>
							</th>
							
						</tr>
						<tr>
							<td>2</td>
							<td>Format dan substansi Laporan</td>
							<td>40 %</td>
							<th>
								<td>  </td>
								<td>  </td>
							</th>
						</tr>
						<tr>
							<td>3</td>
							<td>Argumentasi</td>
							<td>40 %</td>
							<th>
								<td>  </td>
								<td>  </td>
							</th>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th></th>
							<th>Total</th>
							<th>100 %</th>
							<th>
								<td>  </td>
								<td>  </td>
							</th>
						</tr>
					</tfoot>
				</table>	
			</div>
		</div>
		
		
	</div>
	
</div>