<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Order</h1>
</div>
<div class="wrapper-md">
  <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
    <tab heading="Step 1" active="steps.step1" select="steps.percent=25" ng-controller="editDetailCtrl">
      <p class="m-b">Insert the form step by step to finish this edit.</p>
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      <h4>Transaction Form</h4>
      <form name="step1" class="form-validation" ng-submit="updateStatus()">
        <div class="form-group pull-in clearfix">
          <div class="col-sm-12">
            <label>USER ID:</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="edit_trx.pengguna.kode_pengguna" required>
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>Order ID:</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="edit_trx.kode_transaksi" required disabled>
          </div>
          <div class="col-sm-6" ng-controller="DatepickerDemoCtrl">
            <label>Order Date:</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="edit_trx.tgl_pinjam" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)" disabled><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Order Type:</label>
              <div class="">
                  <label class="checkbox-inline i-checks">
                    <input type="radio" value="1" ng-model="edit_trx.jenis_kebutuhan" name='switch' disabled><i></i> Internal
                  </label>
                  <label class="checkbox-inline i-checks">
                    <input type="radio" value="0" ng-model="edit_trx.jenis_kebutuhan" name='switch' disabled><i></i> External
                  </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Status</label>
            <select name="status" class="form-control m-b" required ng-model="edit_trx.status">
              <option value="Request">Pending (Request)</option>
              <option value="Loaned">Accept (Loaned)</option>
              <option value="Returned">Return</option>
            </select>
          </div>
        </div>
        <!-- <p>Your email:</p>
        <input type="email" name="email" class="form-control" ng-model="email" required ng-change="step1.email.$valid ? (steps.percent=30) : (steps.percent=20)">
        <p class="m-t">Your website:</p>
        <input type="url" name="url" placeholder="http://" class="form-control" ng-model="website" required> -->
        <div class="m-t m-b">
          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-info btn-rounded">Next</button>
        </div>
      </form>
    </tab>
    <tab heading="Step 2" disabled="true" select="steps.percent=50" ng-controller="editDetailCtrl">
      
    </tab>
    <tab heading="Step 3" disabled="true" select="steps.percent=50">
      <p class="m-b">Congraduations! You got the last step.</p>
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      <p>Just one click to finish it.</p>
      <div class="m-t m-b">
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.percent=100">Click me to Finish</button>
      </div>
    </tab>
  </tabset>
</div>